
<mat-form-field [formGroup]="parentForm" class="full-width">
	<mat-label>{{label}}</mat-label>
		<input class="vs-input" type="text" aria-label="search-input" matInput [formControlName]="nameOfControl" [matAutocomplete]="automan" #searchBox (input)="onInputChange(searchBox.value)" (click)="!searchBox.value && onInputChange(searchBox.value)">
	<mat-autocomplete #automan="matAutocomplete" (optionSelected)="onSelect($event)" [displayWith]="renderOptionInInput">
	  <mat-option *ngFor="let option of items$ | async" [value]="option" 
	  >
	    {{renderOptionInMenuFn(option)}}
	  </mat-option>
	</mat-autocomplete>
	<div *ngIf="loading" class="vs-spinner-wrapper">
		<mat-spinner diameter=20></mat-spinner>
	</div>
</mat-form-field>